@keyframes spin
  from
    transform: translate(-50%, 55%) rotate(0deg)
  to
    transform: translate(-50%, 55%) rotate(360deg)

.block.hero
  overflow: hidden
  position: relative
  .container
    position: relative
    z-index: 2
  .animated-ring
    position: absolute
    bottom: 0px
    left: 50%
    width: 140%
    z-index: 1
    transform-origin: center
    transform: translate(-50%, 55%)
    // animation: spin 60s infinite linear
