@keyframes spin
  from
    transform: translate(-50%, 55%) rotate(0deg)
  to
    transform: translate(-50%, 55%) rotate(360deg)

@keyframes spinBig
  from
    transform: translate(60%, -55%) rotate(0deg)
  to
    transform: translate(60%, -55%) rotate(360deg)

.block.hero
  overflow: hidden
  position: relative
  .container
    position: relative
    z-index: 2

.block.sign-up
  background-image: url('/empty-ring.svg')
  background-size: cover
  background-position: center

.block.footer
  form
    width: 100%
    display: flex
    flex-direction: row
    input
      flex: 1
      margin-bottom: 0px
      transform: translateY(0px)
      padding: 10px
    button
      flex: 1
      padding: 10px
      margin-left: 10px


@media screen and (max-width: 800px)
  .block.hero
    .animated-ring
      position: absolute
      bottom: 0px
      left: 50%
      width: 140%
      z-index: 1
      transform-origin: center
      transform: translate(-50%, 55%)
      animation: spin 60s infinite linear

@media screen and (min-width: 800px)
  .block.hero
    .animated-ring
      position: absolute
      left: inherit
      height: 180%
      top: 50%
      right: 0px
      transform: translate(60%, -55%)
      animation: spinBig 60s infinite linear

  .block.footer
      form
        width: 100%
        max-width: 450px
        input
          padding: 18px
        button
          padding: 20px
