@import '../pages/variables'

// Animations
@keyframes glisten
  0%
    background-position: 0% 50%
  50%
    background-position: 100% 50%
  100%
    background-position: 0% 50%

// Mixins
@mixin gradient
  background: #c09a4b
  background: -moz-linear-gradient(45deg, #c09a4b 0%, $gradient-light 50%, $gradient-dark 100%)
  background: -webkit-linear-gradient(45deg, $gradient-dark 0%,$gradient-light 50%,$gradient-dark 100%)
  background: linear-gradient(45deg, $gradient-dark 0%,$gradient-light 50%,$gradient-dark 100%)
  animation: glisten 1s ease infinite

@mixin card
  .inner-text
    padding: 20px
  .image
    width: 100%
    min-height: 170px
    background-size: cover
    background-position: center
    margin-bottom: 10px
  h3
    font-weight: 600
    color: $brand
    margin-top: 5px
  h5
    font-weight: 600
    color: $brand
  p
    clear: both
    font-size: 0.9em
    margin-bottom: 20px

// Common styles
*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: $font-stack
.container
  max-width: $max-width
  margin: 0px auto
  padding: $container-padding
.button
  width: 100%
  max-width: 250px
  display: block
  padding: 20px
  text-transform: uppercase
  letter-spacing: 1px
  font-size: 0.8em
  text-decoration: none
  text-align: center
  &:hover
    filter: brightness(1.1)
  &:active
    filter: brightness(0.8)
  &.solid
    background-color: $brand
    color: $lightest
  &.bare
    background-color: none
    color: $lightest
    max-width: inherit
    width: auto
    display: inline-block
    padding: 10px 0px
    text-align: left
  &.gradient
    @include gradient
    color: $darkest
  &.outline
    background: none
    border: 1px solid $brand-accent
    color: $lightest
  svg
    margin-left: 10px
    transform: translateY(-0.5px)
.chapter-title
  text-transform: uppercase
  font-size: 0.8em
  font-weight: 700
  letter-spacing: 1px
  padding-left: 35px
  color: $brand
  position: relative
  margin-bottom: 40px
  display: inline-block
  &::before
    content: ""
    position: absolute
    left: 0
    top: 7px
    height: 0
    width: 20px
    border-bottom: 2px solid $brand
h1, h2, h3, h4, h5, p
  line-height: 1.6em
  font-weight: 300
ul.selling-points
  list-style-type: none
  text-align: center
  li
    margin-bottom: 50px
    h3
      @include labelText
      font-size: 1em
      margin-bottom: 10px
    p
      font-weight: 300


.button + .button.bare
  // margin-right: 25px

.header + .block
  margin-top: $header-height

// Header
.block.header
  background-color: $lightest
  padding: 10px
  display: flex
  position: fixed
  width: 100%
  flex-direction: row
  justify-content: space-between
  align-items: center
  z-index: 999
  transition: 0.1s ease-in
  top: 0
  .inner
    display: flex
    flex-direction: row
    align-items: center
  .button.small
    padding: 8px
    font-size: 0.75em
    width: auto
  .menu-toggle
    margin-right: 15px
    cursor: pointer

// Hero block
.block.hero
  background-color: $brand
  text-align: center
  padding: 70px 40px
  min-height: calc(100vh - #{$header-height})
  .strapline
    @include gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    font-weight: bold
    text-transform: uppercase
    letter-spacing: 2px
    display: inline-block
    margin-bottom: 30px
  h1
    color: $lightest
    font-weight: 100
    font-size: 2.5em
    margin-bottom: 40px
  .button
    display: block
    margin: 0 auto 20px auto

// Logos block
.block.logos
  .container
    padding: 50px 30px
    display: grid
    grid-template-columns: 1fr 1fr
    grid-column-gap: 30px
    grid-row-gap: 50px
  img
    filter: grayscale(1)
    display: block
    margin: 0 auto
    margin-bottom: 0px
    max-width: 100%
    transition: 0.1s ease-in
    &:hover
      filter: grayscale(0) brightness(1.1)

// Explanation block
.block.explanation
  padding: 50px 0px
  background-color: $light
  h2.headline
    font-weight: 300
    color: $brand
    text-align: center
    margin-bottom: 40px
  p
    text-align: center
    margin-bottom: 40px
  img
    max-width: 100%
    margin: 0 auto 20px auto
    padding: 0px 50px
    display: block

  section.buttons
    text-align: center
    .button
      margin: 0px auto 20px auto
      &.bare
        color: $brand
        svg polygon
          fill: $brand

// Selling points (right-aligned vertical list)
.block.selling-points
  background-color: $brand
  color: $lightest
  padding: 50px 0px
  h2.headline
    font-weight: 300
    color: $lightest
    text-align: center
    margin-bottom: 40px
  .chapter-title
    color: $lightest
    &::before
      border-color: $lightest
  .selling-points
    h3
      @include gradient
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      letter-spacing: 1px
      display: inline-block
    img
      max-width: 140px
      height: auto
      margin-bottom: 0px

// Selling points alt (horizontal row)
.block.selling-points-alt
  padding: 50px 0px
  h2.headline
    font-weight: 300
    color: $brand
    text-align: center
    margin-bottom: 40px
  .selling-points
    li
      margin-bottom: 50px
    img
      max-width: 90px
      height: auto
      margin-bottom: 20px

// Tabs
.block.tabs
  padding: 50px 0px 0px 0px
  background-color: $light
  .icon
    width: 55px
    height: 55px
    border-radius: 100%
    background-color: $brand
    display: flex
    justify-content: center
    align-items: center
    margin: 0 auto 20px auto
  h2.headline
    font-weight: 300
    color: $brand
    text-align: center
    margin-bottom: 20px
  p
    text-align: center
    margin: 0 auto 40px auto
    max-width: 500px
  nav.tab-navigation ul
    list-style-type: none
    display: flex
    flex-direction: row
    justify-content: space-between
    max-width: 500px
    margin: 0 auto
    li
      @include labelText
      flex: 1
      color: $brand
      text-align: center
      padding: 12px
      cursor: pointer
      &.selected
        background-color: $lightest
        pointer-events: none
        cursor: default
  section.tabs
    padding: 50px 0px
    background-color: $lightest
    div.tab
      display: none
      visibility: none
      &.selected
        display: block
        visibility: visible
      ul.tab-content
        list-style-type: none
        display: grid
        grid-template-columns: 1fr 1fr
        grid-column-gap: 30px
        grid-row-gap: 40px
        padding-bottom: 50px
        margin-bottom: 50px
        border-bottom: 1px solid transparentize($brand-accent, 0.75)
        li.tab-content-item
          span.value
            font-size: 1.5em
            font-weight: 300
            color: $brand
          span.label
            display: block
            @include labelText
            margin-bottom: 8px
            color: $brand
      h3
        text-align: center
        color: $brand
        font-weight: 300
        font-size: 2em
        margin-bottom: 20px
      section.buttons
        text-align: center
        .button
          margin: 0px auto 20px auto
          &.bare
            color: $brand
            svg polygon
              fill: $brand

// Graphics
.block.graphics
  background-color: $brand
  color: $lightest
  padding: 50px 0px
  h2.headline
    font-weight: 300
    color: $lightest
    text-align: center
    margin-bottom: 20px
  p
    text-align: center
    margin: 0 auto 40px auto
    max-width: 500px
  .chart
    width: 100%
    height: 400px
    margin-bottom: 30px
    position: relative
    h3
      position: absolute
      text-align: center
      display: flex
      justify-content: center
      align-items: center
      font-size: 1.1em
      text-transform: uppercase
      top: 0
      left: 0
      right: 0
      bottom: 0
      padding: 100px
    .ct-chart
      height: 100%
      width: 100%
    &.blue
      .ct-series-a .ct-slice-donut-solid
        fill:  $brand-vibrant
      .ct-series-b .ct-slice-donut-solid
        fill:  $brand-vibrant
        opacity: 0.8
      .ct-series-c .ct-slice-donut-solid
        fill:  $brand-vibrant
        opacity: 0.6
      .ct-series-d .ct-slice-donut-solid
        fill:  $brand-vibrant
        opacity: 0.4
      .ct-series-e .ct-slice-donut-solid
        fill:  $brand-vibrant
        opacity: 0.2
    &.gradient
      .ct-series-a .ct-slice-donut-solid
        fill:  lighten($gradient-dark, 10)
      .ct-series-b .ct-slice-donut-solid
        fill:  lighten($gradient-dark, 10)
        opacity: 0.8
      .ct-series-c .ct-slice-donut-solid
        fill:  lighten($gradient-dark, 10)
        opacity: 0.6
      .ct-series-d .ct-slice-donut-solid
        fill:  lighten($gradient-dark, 10)
        opacity: 0.4
      .ct-series-e .ct-slice-donut-solid
        fill:  lighten($gradient-dark, 10)
        opacity: 0.2
  .legend
    margin-bottom: 70px
    li
      border-bottom: 1px solid transparentize($brand-accent, 0.75)
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: flex-end
      margin-bottom: 15px
      &:nth-of-type(2) span.label::before
        opacity: 0.8
      &:nth-of-type(3) span.label::before
        opacity: 0.6
      &:nth-of-type(4) span.label::before
        opacity: 0.4
      &:nth-of-type(5) span.label::before
        opacity: 0.2
      span.label
        @include labelText
        border-bottom: 1px solid $brand
        transform: translateY(1px)
        padding-right: 10px
        &.blue::before
          background-color: $brand-vibrant
        &.gradient::before
          background-color: lighten($gradient-dark, 10)
        &::before
          content: ""
          display: inline-block
          width: 15px
          height: 15px
          border-radius: 100%
          margin-right: 15px
          transform: translateY(3px)
      span.value
        border-bottom: 1px solid $brand
        transform: translateY(1px)
        padding-left: 10px
        font-weight: 100
        font-size: 1.2em

// Team
.block.team
  padding: 50px 0px
  background-color: $light
  h2.headline
    font-weight: 300
    color: $brand
    text-align: center
    margin-bottom: 40px
  .team-members
    list-style: none
    .team-member
      background-color: $lightest
      padding: 20px
      // margin: 0px 10px
      img
        width: 60px
        height: 60px
        border-radius: 100%
        float: left
        margin-right: 20px
        margin-bottom: 15px
      h3
        font-weight: 600
        color: $brand
        margin-top: 5px
      h5
        font-weight: 600
        color: $brand
      p
        clear: both
        font-size: 0.9em
        margin-bottom: 20px
      .team-member-social-links
        a
          display: inline-block
          width: 50px
          padding: 8px
          text-decoration: none
          text-align: center
          margin-right: 10px
          background-color: $brand
          color: $lightest
  .slick-slider
    margin-bottom: 40px
    .slick-slide
      padding: 0px 10px
    .slick-dots
      bottom: -40px

// events
.block.events
  padding: 50px 0px
  h2.headline
    font-weight: 300
    color: $brand
    text-align: center
    margin-bottom: 40px
  h3.headline
    font-weight: 300
    font-size: 1.5em
    color: $brand
    text-align: center
    margin-bottom: 20px
  p
    text-align: center
    margin: 0 auto 30px auto
    max-width: 500px
  a.button
    display: block
    margin: 0 auto
  .upcoming-events
    margin-bottom: 60px
    .upcoming-event
      @include card
      text-align: center
      box-shadow: 0px 1px 10px rgba(0,0,0,0.075)
      .image
        height: 0
        padding-bottom: 60%
      h3
        margin-bottom: 5px
      h5
        margin-bottom: 20px
      a.button.bare
        color: $brand
        margin-bottom: 0px
        svg polygon
          fill: $brand

  .slick-slider
    margin-bottom: 90px
    .slick-list
      overflow-y: visible
      overflow-x: hidden
    .slick-slide
      padding: 0px 10px
    .slick-dots
      bottom: -40px

.later-events
  margin-bottom: 80px
  button
    border: 0
    background: none
    @include labelText
    font-size: 0.8em
    color: $brand
  h4
    @include labelText
    color: $brand
    margin-bottom: 30px
  .later-events-list
    list-style: none
    margin-bottom: 30px
    .later-events-item
      display: flex
      flex-direction: row
      margin-bottom: 20px
      .image
        width: 80px
        height: 80px
        background-position: center
        background-size: cover
        margin-right: 30px
      h5
        font-size: 1.2em
        font-weight: 600
        color: $brand
        margin-bottom: 5px
      p
        font-size: 0.9em
        font-weight: 600
        color: $brand

// Roadmap
.block.roadmap
  background-color: $brand
  color: $lightest
  padding: 50px 0px
  .chapter-title
    color: $lightest
    margin-bottom: 70px
    &::before
      border-color: $lightest
  .milestones
    display: grid
    grid-template-columns: 1fr 1fr
    text-align: center
    list-style-type: none
    grid-row-gap: 80px
    grid-column-gap: 20px
    margin-bottom: 40px
    .milestone
      position: relative
      svg
        stroke: $gradient-light
      &.checked::before
        border-color: $gradient-light !important

      // First path segment
      &:first-of-type::before
        content: ""
        display: block
        border-bottom: 1px solid transparentize($brand-accent, 0.75)
        right: 50%
        top: 17px
        position: absolute
        width: 200%
        z-index: 1

      // Curved paths on right
      &:nth-of-type(4)::before, &:nth-of-type(8)::before, &:nth-of-type(12)::before
        position: absolute
        left: 50%
        bottom: 97px
        content: ""
        display: block
        height: 192px
        width: calc(192px / 2)
        border-bottom-right-radius: 192px
        border-top-right-radius: 192px
        border: 1px solid $brand-accent2
        border-left: 0

      // Curved paths on left
      &:nth-of-type(5)::before, &:nth-of-type(9)::before
        position: absolute
        right: 50%
        bottom: 97px
        content: ""
        display: block
        height: 192px
        width: calc(192px / 2)
        border-bottom-left-radius: 192px
        border-top-left-radius: 192px
        border: 1px solid $brand-accent2
        border-right: 0

      // Horizontal connecting paths, right-to-left
      &:nth-of-type(2)::before, &:nth-of-type(6)::before, &:nth-of-type(10)::before
        content: ""
        display: block
        border-bottom: 1px solid $brand-accent2
        right: 50%
        top: 17px
        position: absolute
        width: 104%
        z-index: 1

      // Horizontal connecting path, left ro right
      &:nth-of-type(3)::before, &:nth-of-type(7)::before, &:nth-of-type(11)::before
        content: ""
        display: block
        border-bottom: 1px solid $brand-accent2
        left: 50%
        top: 17px
        position: absolute
        width: 104%
        z-index: 1

      // Final path segment
      &:nth-of-type(11)::after
        content: ""
        display: block
        border-bottom: 1px solid $brand-accent2
        right: 50%
        top: 17px
        position: absolute
        width: 200%
        z-index: 1

      h5
        text-transform: uppercase
        font-weight: 600
        margin-bottom: 5px
        letter-spacing: 1px
      p
        font-size: 0.95em
      .icon
        background-color: $brand-accent2
        width: 33px
        height: 33px
        border-radius: 100%
        display: flex
        justify-content: center
        align-items: center
        margin: 0 auto 30px auto
        font-size: 0.8em
        color: $gradient-light
        z-index: 2
        position: relative
        &.checked
          border: 1px solid $gradient-light
          background: $brand

// Products
.block.products
  padding: 50px 0px
  h2.headline
    font-weight: 300
    color: $brand
    text-align: center
    margin-bottom: 40px
  p
    text-align: center
    margin: 0 auto 50px auto
    max-width: 500px
  .products-list
    .product
      @include card
      background-color: $light
      margin-bottom: 20px
      .image
        height: 0
        padding-bottom: 60%
        margin-bottom: 0px
      h3
        margin-bottom: 20px
      .checklist
        list-style: none
        margin-bottom: 30px
        li
          position: relative
          padding-left: 40px
          margin-bottom: 20px
          font-size: 0.9em
          svg.icon
            position: absolute
            stroke: $gradient-light
            padding: 5px
            left: 0
            border-radius: 100%
            content: ""
            display: block
            width: 22px
            height: 22px
            background-color: $brand

// sign-up
.block.sign-up
  background-color: $brand
  color: $lightest
  padding: 50px 0px
  text-align: center
  h2.headline
    font-weight: 300
    color: $lightest
    text-align: center
    margin-bottom: 40px
  p
    max-width: 500px
    margin: 0 auto 40px auto
  form input
    font-family: $font-stack
    font-size: 1em
    padding: 18px
    border: 0
    margin-bottom: 15px
    transform: translateY(1.5px)
  .button
      margin: 0px auto 20px auto

.block.faq
  background-color: $light
  padding: 50px 0px
  overflow: hidden
  max-width: 100%
  .tabs
    position: relative
    left: 50%
    right: 50%
    margin-left: -50vw
    margin-right: -50vw
    width: 100vw
    max-width: 100vw
    overflow: hidden
    nav.tab-navigation ul
      list-style-type: none
      display: grid
      grid-template-columns: 1fr 1fr 1fr
      max-width: 600px
      margin: 0 auto
      li
        @include labelText
        color: $brand
        text-align: center
        padding: 12px
        cursor: pointer
        &.selected
          background-color: $lightest
          pointer-events: none
          cursor: default
    section.tabs
      padding: 20px 0px
      background-color: $lightest
      margin-bottom: 80px
      div.tab
        display: none
        visibility: none
        &.selected
          display: block
          visibility: visible
    .question
      padding-left: 40px
      position: relative
      &[open]
        svg
          transform: rotate(90deg)
      summary
        font-weight: 600
        color: $brand
        padding: 20px 0px
        // margin-bottom: 20px
        cursor: pointer
        &::-webkit-details-marker
          display: none
          visibility: hidden
      svg
        position: absolute
        transition: 0.1s ease-in
        top: 25px
        left: 7px
        polygon
          fill: $brand
      p
        margin-bottom: 30px
  .get-more-help
    text-align: center
    h3
      text-transform: uppercase
      font-size: 1.1em
      font-weight: 600
      letter-spacing: 1px
      color: $brand
      margin-bottom: 20px
    p
      font-size: 0.9em
      margin-bottom: 20px
  .button
    margin: 0px auto 20px auto
    &.bare
      color: $brand
      svg polygon
        fill: $brand

.block.footer
  padding: 40px 40px
  text-align: center
  img
    margin-bottom: 20px
  h4
    font-size: 0.9em
    color: $brand
    font-weight: 600
  p
    color: $brand
    font-size: 0.9em
    margin-bottom: 30px
  .footer-menu
    display: none
    visibility: hidden
  .organisation-social-links
    a
      display: inline-block
      width: 50px
      padding: 8px
      text-decoration: none
      text-align: center
      margin-right: 10px
      background-color: $brand
      color: $lightest
